header {
	margin: 0;
	border-radius: 0;
}
ul {
    list-style: none;
    display: none;
	animation: fadeInRight;
	padding: 0;
	background-color: rgb(47, 56, 66);
	margin: 20px 0 10px 0;
	padding: 10px 0;
}
li {
	text-align: center;
	padding: 5px 0;
}
a {
	text-decoration: none;
}
li a {
	font-size: 1.1rem;
}
li a:hover {
	background-color: #7d859931;
}
.brand {
	display: inline-block;
	font-family: 'ubuntu';
	font-size: 1.6rem;
}
button {
    position: absolute;
    top: 10px;
	right: 10px;
	box-shadow: none;
	background-color: transparent;
	font-size: 1.5rem;
}
.show {
	display: block;
}
.active {
	background-color: #5CCFDB31;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
		justify-content: space-between;
		align-items: center;
    }
    ul {
        display: flex;
        flex-direction: row;
		justify-content: flex-end;
		background-color: transparent;
		animation: none;
		margin: 0;
		padding: 0;
    }
    li {
		margin: 0 0 0 1.75rem;
		padding: 0;
    }
   	button {
       display: none;
	}
	.brand {
		font-size: 2rem;
	}
}